In [1]:
import pandas as pd

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [5]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [10]:
#How many products cost more than $10.00?
dollar = lambda x:float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollar)

In [12]:
chipo['item_price'].dtypes

dtype('float64')

In [19]:
chipo[chipo['item_price']>10].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

In [67]:
#What is the price of each item?
chipo['price_of_each_quantity'] = chipo['item_price']/chipo['quantity']

In [68]:
chipo

,order_id,quantity,item_name,choice_description,item_price,price of each quantity,price_of_each_quantity
0,1,44.25,Chips and Fresh Tomato Salsa,NaN,2.39,2.39,0.054011
1,1,44.25,Izze,[Clementine],3.39,3.39,0.076610
2,1,44.25,Nantucket Nectar,[Apple],3.39,3.39,0.076610
3,1,44.25,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39,0.054011
4,2,44.25,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49,0.383729
...,...,...,...,...,...,...,...
4617,1833,44.25,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75,0.265537
4618,1833,44.25,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75,0.265537
4619,1834,44.25,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25,0.254237
4620,1834,44.25,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75,0.197740
4621,1834,44.25,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75,0.197740

In [63]:
result = chipo[['item_name','price_of_each_quantity']]

In [65]:
result.sort_values(by=['item_name','price_of_each_quantity'],ascending = True).head(100)

              item_name  price_of_each_quantity
298   6 Pack Soft Drink                0.146667
341   6 Pack Soft Drink                0.146667
357   6 Pack Soft Drink                0.146667
388   6 Pack Soft Drink                0.146667
417   6 Pack Soft Drink                0.146667
...                 ...                     ...
1175      Barbacoa Bowl                0.259435
1235      Barbacoa Bowl                0.259435
1236      Barbacoa Bowl                0.259435
1383      Barbacoa Bowl                0.259435
4510      Barbacoa Bowl                0.259661

[100 rows x 2 columns]

In [48]:
result.drop_duplicates(subset=['item_name'])

                                  item_name  price of each quantity
0              Chips and Fresh Tomato Salsa                    2.39
1                                      Izze                    3.39
2                          Nantucket Nectar                    3.39
3     Chips and Tomatillo-Green Chili Salsa                    2.39
4                              Chicken Bowl                    8.49
6                             Side of Chips                    1.69
7                             Steak Burrito                   11.75
8                          Steak Soft Tacos                    9.25
10                      Chips and Guacamole                    4.45
11                     Chicken Crispy Tacos                    8.75
12                       Chicken Soft Tacos                    8.75
16                          Chicken Burrito                    8.49
18                              Canned Soda                    1.09
21                         Barbacoa Burrito                    8.99
27                         Carnitas Burrito                    8.99
33                            Carnitas Bowl                    8.99
34                            Bottled Water                    1.09
38    Chips and Tomatillo Green Chili Salsa                    2.95
39                            Barbacoa Bowl                   11.75
40                                    Chips                    2.15
44                       Chicken Salad Bowl                    8.75
54                               Steak Bowl                    8.99
56                      Barbacoa Soft Tacos                    9.25
57                           Veggie Burrito                   11.25
62                              Veggie Bowl                   11.25
92                       Steak Crispy Tacos                    9.25
111     Chips and Tomatillo Red Chili Salsa                    2.95
168                   Barbacoa Crispy Tacos                   11.75
186                       Veggie Salad Bowl                   11.25
191      Chips and Roasted Chili-Corn Salsa                    2.39
233      Chips and Roasted Chili Corn Salsa                    2.95
237                     Carnitas Soft Tacos                    9.25
250                           Chicken Salad                   10.98
263                       Canned Soft Drink                    1.25
281                        Steak Salad Bowl                   11.89
298                       6 Pack Soft Drink                    6.49
300     Chips and Tomatillo-Red Chili Salsa                    2.39
445                                    Bowl                    7.40
510                                 Burrito                    7.40
520                            Crispy Tacos                    7.40
554                   Carnitas Crispy Tacos                    9.25
664                             Steak Salad                    8.99
674       Chips and Mild Fresh Tomato Salsa                    3.00
738                       Veggie Soft Tacos                   11.25
1132                    Carnitas Salad Bowl                   11.89
1229                    Barbacoa Salad Bowl                   11.89
1414                                  Salad                    7.40
1653                    Veggie Crispy Tacos                    8.49
1694                           Veggie Salad                    8.49
3750                         Carnitas Salad                    8.99

In [51]:
#Sort by the name of the item
set(chipo['item_name'].sort_values())

{'6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos'}

In [54]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,price of each quantity
0,1,44.25,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,44.25,Izze,[Clementine],3.39,3.39
2,1,44.25,Nantucket Nectar,[Apple],3.39,3.39
3,1,44.25,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,44.25,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,44.25,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,44.25,Side of Chips,NaN,1.69,1.69
7,4,44.25,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,44.25,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,44.25,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [66]:
chipo['quantity']

0       44.25
1       44.25
2       44.25
3       44.25
4       44.25
        ...
4617    44.25
4618    44.25
4619    44.25
4620    44.25
4621    44.25
Name: quantity, Length: 4622, dtype: float64